.NavigationItem {
    margin: 10px 0px 10px 15px;
    display: block;
    box-sizing: border-box;
    align-items: center;
}

.NavigationItem a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.NavigationItem a:hover, 
.NavigationItem a:active,
.NavigationItem a.active {
    color: #ffb3bf;
}     


@media (min-width: 500px) {
    .NavigationItem {
        margin: 0px;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        text-decoration: none;
        padding: 16px 10px;
        height: 100%;
        box-sizing: border-box;
        align-items: center;
    }
    
    .NavigationItem a:hover, 
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: white;
        background-color: #8f5c2c;
    }    
}

