.IceCream {
    background-image: url('/Users/bojanaknezevic/Documents/ice-cream-shop/src/assets/images/4233816.jpg');
    background-size: 100% 100%;
    width: 100%;
    margin-top: -20px;
    padding-top: 70px;
    height: 690px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.Message {
    color: #8f5c2c;
    margin: 30px 30px;
}
/*@media (min-width: 1000px) and (min-height: 700px) {
    .IceCream {
        width: 500px;
        height: 600px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .IceCream {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .IceCream {
        width: 700px;
        height: 600px;
    }
}*/